*{
	font-family: BlinkMacSystemFont, sans-serif;	
}
body{
	background-color: #FFFFFF;
	position: relative;
}
header h1{
	color: royalblue;
	font-weight: bold;
	padding-left: 20px;
}
header span{
	color: black;
}
.cover-image img{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
nav{
	width: 100%;
	margin: auto;
	padding-bottom: 25px;
	padding-top: 35px;
	text-align: center;
}
nav a{
	padding-left: 10px;
	text-decoration: none;
	display: inline-block;	
	color: black;
	font-weight: bold;
}
nav a:hover{
	color: royalblue;
}
.cart-section{
	float: right;
	padding-left: 15px;
}
.cart-section span{
	color: white;
	background-color: black;
	border-radius: 10px;
	text-align: center;
	font-size: 22px;
}
.container{
	margin: 5%;
}
.book{
	border: none;
	border-radius: 8px;
	margin: 2px 2px 15px 2px;
	padding: 5px;
	text-align: center;
	display: inline-table;
	height: 300px;	
	width: 200px;
}
.book label{
	color: white;
	background-color: red;
}
.books-block div{
	display: inline-block;
}
.new-items {
	text-align: left;
	pointer-events: none;
	background-color: red;
	color: white;
	border: none;
	border-radius: 3px;
	size: 18px;
}
.product-box{
	padding-bottom: 68px;
}
.product-box form{
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	height: 300px;
	width: 200px;	
}
.product-box form:hover {
	box-shadow: 0 3px 10px #808080;
	height: 300px;
	width: 200px;	
}
.add-to-cart type{
	border-radius: 10px;
}
.book-image {
	width: 100px;
	height: 130px;
}
.book-name{
	font-size: 16px;
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}
.book-price {
	color: #ff8000;
	font-size: 18px;
	display: block;
}
.book-author{
	color: #999999;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	width: 90%;
}
.continue-btn, .delete-btn, .cart-btn, .order-btn{
	color: royalblue;
	font-weight: bold;
	background-color: #fff;
	width: 109px;
	height: 28px;
	text-align: center;
	font-size: 14px;
	border: none;
	border-radius: 24px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
	cursor: pointer;
}
.continue-btn:hover, .delete-btn:hover, .cart-btn:hover, .order-btn:hover{
	background-color: royalblue;
	color: #fff;
	transition: 0.2s;
}
.continue-btn {
	width: 150px;
}
.order-btn{
	width: 150px;
}
.rider-image{
	width: 50%;
}
.rider-image:hover{
	padding-left: 200px;
	transition: 0.5s;
}
.more-books{
	text-align: right;
	color: royalblue;
	text-decoration: none;
}
.more-books:hover{
	color: darkblue;
	transition: 0.2s;
}
.left-section table{
	width: 100%;
}
.shipping-table td{
	padding-bottom: 20px;
}
.right-section {
	padding-left: 10px;
}
.right-section ul{
	vertical-align: top;
}
.in-page-book-name {
	font-size: 30px;
	text-align: left;
}
.in-page-book-author h5{
	color: #999999;	
	font-size: 18px;
	vertical-align: text-top;
}
.book-introduction-1 {
	margin-left: auto;
	margin-right: auto;	
	width: 100%;
}
.in-page-details-table {
	width: 100%;
}

.book-introduction-2 {
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;	
}
.book-introduction-3 {
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;	
}
.shipping {
	width: 100%;
}
.shipping-info {
	width: 100%;	
	padding-top: 10%;
}
.book-intro ul{
	font-color: grey;
	border: solid grey;
	border-radius: 10px;
	border-width: thin;
	padding: 40px;
	width: 70%;
	height: 30%;

}
.book-intro li{
	padding: 5px;
	font-style: italic;
}
.in-page-similar-book-image {
	padding-right: 40px;
	padding-top: -10px;
}
.similar-books {
	background-color: #f2f2f2;
	padding: 10px;
	width: 100%;
}
.similar-books h3 {
	text-align: left;
}
.similar-book-block {
	display: inline-block;
	padding-left: 30px;
	vertical-align: top;
}
.similar-book-block:hover {
	cursor: pointer;
	opacity: 0.7;
}
.in-page-similar-book-name{
	width: 190px;
	
}
.in-page-cart-btn{
	color: royalblue;
	font-weight: bold;
	background-color: #fff;
	width: 113px;
	height: 40px;
	text-align: center;
	font-size: 14px;
	border: none;
	border-radius: 24px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
	cursor: pointer;	
}
.in-page-cart-btn:hover{
	background-color: royalblue;
	color: #fff;
	transition: 0.5s;
	}
.in-page-buy-now-btn {
	color: #fff;
	font-weight: bold;
	background-color: royalblue;
	width: 109px;
	height: 40px;
	text-align: center;
	font-size: 14px;
	border: none;
	border-radius: 24px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
	cursor: pointer;
	vertical-align: top;	
}
.in-page-buy-now-btn:hover {
	background-color: #fff;
	color: royalblue;
	transition: 0.2s;	
}
.in-search-page-word {
	font-size: 25px;
	font-weight: lighter;
}
.search-bar-form{
	width: 340px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}
.search{
	width: 100%;
	position: relative;
	display: flex;
}
.search-bar{
	width: 100%;
	border: 3px solid royalblue;
	border-right: none;
	padding: 5px;
	height: 20px;
	border-radius: 5px 0 0 5px;
	outline: none;
}
.search-bar-btn {
	width: 60px;
	height: 36px;
	border: 1px solid royalblue;
	background: royalblue;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-weight: bold;
}
.dropdown-btn{
	background-color: #fff;;
}
.dropdown{
	position: relative;
	display: inline-block;
}
.mydropdown-links{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	z-index: 1;
	min-width: 200px;
}
.mydropdown-links a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}
.mydropdown-links a:hover{
	background-color: #ddd;
}
.dropdown:hover .mydropdown-links{
	display: block;
}
.quantity-control {
	font-weight: bold;
	background-color: #fff;
	width: 60px;
	height: 28px;
	text-align: center;
	font-size: 14px;
	border: 1 solid royalblue;
	border-radius: 24px;
}
.return-shopping{
	float: right;
	display: inline-flex;
}
.price-summary th{
	background-color: #1a1a1a;
	color: white;
}
.price-summary td{
	padding-top: 13px;
}
.placeorder{
	background-color: #f2f2f2;
	margin: 0 auto;
	width: 700px;
	height: 300px;
	text-align: center;
	padding: 10px;	
}
.placeorder h2, placeorder p{
	padding-top: 50px;
}
.left-info{
	text-align: right;
}
footer{
	background-color: #333333;	
	width: 100%;
	bottom: 0;
}
.footer-links{
	width: auto;
	height: 200px;
	padding-left: 46%;
	color: white;
	padding-bottom: 0px;
}
.footer-links p{
	padding-top: 15px;
}
.footer-links a{
	text-decoration: none;
	color: white;
	display: block;
	padding-bottom: 12px;
}
.footer-links a:hover{
	padding-left: 1%;
	transition: 0.4s;
}
.copyright{
	background-color: #1a1a1a;
	color: white;
	text-align: center;
	width: auto;
	height: 50px;
	padding-top: 0px;
}
.copyright p {
	padding-top: 15px;
}